version: '3.8'

services:
  #1. 주방장 (maser DB)
  mysql-maser:
    image: mysql:8.0
    container_name: ticket-master
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ticket_db
    volumes:
      - ./mysql-master/my.cnf:/etc/mysql/my.cnf
    #2. 홀 매니저(Slave DB)
  mysql-slave:
    image: mysql:9.0
    container_name: ticket-slave
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./mysql-slave/my.cnf:/etc/mysql/my.cnf